<footer id="footer" class="footer black-themed d-flex align-items-center justify-content-center flex-column mb-2">
  <p>Contact me on:</p>
  <div class="d-flex flex-row">
  <a href="https://www.linkedin.com/in/jan-stępień-developer" class="p-1" target="_blank" rel="noopener" style="font-size:36px;color:white">
      <fa-icon [icon]="faLinkedin"></fa-icon>
   </a>
   <a href="https://https://www.facebook.com/jan.stepien.7"  class="p-1"  target="_blank" rel="noopener" style="font-size:36px;color:white">
    <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
  </div>
</footer>
