<div id="angularHomeHeader" class="black-themed d-flex align-items-center justify-content-center p-1">
  <a routerLink="../"class="d-flex px-2 mr-auto" style="font-size:1.5rem;color:white;position:absolute;top: 0;
  left: 0;">
    <fa-icon [icon]="faArrowLeft" ></fa-icon>
  </a>
  <h5 class="d-flex flex-wrap">
    <span> Exploring Angular skills</span>
  </h5>
</div>
<div id="homePageHeader4" class="d-flex flex-column align-items-center justify-content-center my-2">
  <h5>So what you want to see first?</h5>
  <div class="d-flex flex-row flex-wrap m-1 justify-content-center">
    <app-tile *ngFor="let tile of tiles; let i = index" class="d-flex m-1" [routerLink]="tile.redirectTo"
    [id]="i" [text]="tile.label" [style]="setTileStyle(i)" ></app-tile>
  </div>
</div>
<footer id="homePageFooter" class="black-themed d-flex justify-content-left flex-column p-4">
  <a routerLink="../home">Home</a>
  <a *ngFor="let tile of tiles" routerLink="{{'/' + tile.redirectTo}}">
    <fa-icon [icon]="faArrowRight" class="px-2"></fa-icon>{{tile.label}}
  </a>
</footer>
